:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: whitesmoke;
    --text-secondary: #ececec;
    --bg-primary: #23232f;
    --bg-secondary: #26262e;
 
    --transition-speed: 600ms;
    --innerheight: 100vh;/* variable 100% of viewport height */
    overflow-x: hidden;

}

:root {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #17252A;
    --text-secondary: #FEFFFF;
    --bg-primary: #3AAFA9;
    --bg-secondary: #2B7A78;
    --icons-primary: #def2f1 ;
    --icons-secondary: #BAB2B5;
    --circles-primary: #2B7A78;
    --transition-speed: 600ms;
    --innerheight: 100vh;/* variable 100% of viewport height */
    overflow-x: hidden;

}

.panel{
    padding-top: 1rem;
    padding-bottom: 4rem;
    width: 100vw;
    height: auto;
    background: var(--bg-secondary);
    z-index: 5;
    color: var(--text-secondary);
    overflow-x: hidden;
    
    text-overflow: clip;
}   
 
body {
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--circles-primary);
}

main {
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    z-index: 10;
    background: transparent;
    overflow-x: hidden;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    z-index: 11;
}

.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--icons-primary);
}

.fa-secondary {
    color: var(--icons-secondary);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.col-2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2-item p {
    padding-left: 1rem;
    padding-right: 1rem;
    
    
}

.skill-image{
    height: auto;
    max-width: 540px;
    width: 80vw;
}

.profile-image {
    border-radius: 50%;
    height: auto;
    max-width: 488px;
    max-height: 479px;
    width: 80vw;
    padding-bottom: 2rem;
    
}

.rounded {
    border-radius: 1%;
}

.rounded:hover {
    transform: scale(1.01);
}

img {
    transition: all 200ms ease;
}

}

.profile-image:hover {
    transform: scale(1.01);
}

.main-header {
    font-size: 70px;
    text-align: center;
    font-family: 'B612', sans-serif;
}

.section {
    height: 100vh;
    
}

.fullcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    transition: all 250ms ease;
    -webkit-user-select: none;
    display: inline-block;
}
.char1 {}

span:hover {
    color: var(--circles-primary);
    transform: scale(1.2)
}

.fa-arrow-circle-down {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    color: whitesmoke;
}

.fa-arrow-circle-down:hover {
    font-size: 4.5rem;
    cursor: pointer;
    color: var(--circles-primary);
}
.fa-arrow-circle-up {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    color: whitesmoke;
}

.fa-arrow-circle-up:hover {
    font-size: 4.5rem;
    cursor: pointer;
    color: var(--circles-primary);
}

/* Small screens */
@media only screen and (max-width: 1024px) {

    .main-header{
        font-size: 60;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .main-header{
        margin-left: 0rem;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow: hidden;

    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    :root{
        font-size: 4vw;
    }
}



/* Large screens */
@media only screen and (min-width: 1024px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        overflow: hidden;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}