:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: whitesmoke;
    --text-secondary: #ececec;
    --bg-primary: #23232f;
    --bg-secondary: #26262e;
    --transition-speed: 600ms;
    --innerheight: 100vh;/* variable 100% of viewport height */

}

body {
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    z-index: 10;
    background: transparent;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    z-index: 11;
}

.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        overflow: hidden;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2-item p {
    padding-left: 10rem;
    padding-right: 10rem;
}

.profile-image {
    border-radius: 50%;
    height: auto;
    width: 20rem;
}

.rounded {
    border-radius: 1%;
}

.rounded:hover {
    transform: scale(1.01);
}

img {
    transition: all 200ms ease;
}

.profile-image:hover {
    transform: scale(1.01);
}

.main-header {
    font-size: 96px;

}

.section {
    height: 100vh;
    scroll-behavior: smooth;  
}

.fullcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    transition: all 25ms ease;
}

.char1 {}

span:hover {
    color: #ffb0f4;
}

.fa-arrow-circle-down {
    font-size: 5rem;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    color: whitesmoke;
}

.fa-arrow-circle-down:hover {
    font-size: 6rem;
    cursor: pointer;
    color: #ffb0f4;
}
