:root {
    font-size: 16pt;
    font-family: 'Merriweather', sans-serif;
    --text-primary: #332C17;
    color: var(--text-primary);

    --text-secondary: #f7f8ecff;
    --bg-primary: whitesmoke;
    --bg-secondary: #D0B498;
    --color1: #312b39ff;
    --icons-primary: #D0B498;
    --icons-secondary: #f7f8ecff;
    --transition-speed: 600ms;
    --innerheight: 100vh;
    /* variable 100% of viewport height */
    font-display: initial;
    overflow-x: hidden;
    scroll-behavior: smooth;

    word-wrap: break-word;
}

nav,
.navbar-toggle,
.nav-title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    position: fixed;
    z-index: 10;
    background-color: var(--bg-secondary);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
}


/*
* NAVIGATION 
*/

.nav-hide {
    display: none;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 35pt;
    color: var(--text-secondary);
    font-weight: normal;
    text-decoration: none;
    transition: all 300ms ease;

}

nav ul li a:hover {
    color: var(--text-primary);

}

.navbar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
    overflow-x: hidden;
}

.nav-title {
    position: absolute;
    top: 0px;
    left: 1rem;
    width: auto;
    height: 1rem;
    z-index: 20;
    cursor: pointer;
    color: var(--text-primary);
    transition: all 0.05s ease-in-out;

}



.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
    background-color: var(--icons-primary);
    transition: all 0.3s ease-in-out;
}
.bar1:hover, .bar2:hover, .bar3:hover{
    transform: scale(1.25);
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 {
    background-color: white;

}



.nav-title h2 {
    transition: all 0.3s ease-in-out;
}

.navbar-on .nav-title {
    color: transparent;
    background-color: transparent;
}

.navbar-on .bar1 {
    transform-origin: 10% 40%;
    transform: rotate(45deg);
}

.navbar-on .bar3 {
    transform-origin: 10% 40%;
    transform: rotate(-45deg);
}

.navbar-on .bar2 {
    background-color: transparent;
}


/*
*       MAIN CONTENT
*
*/


main {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    

}
main div{
scroll-snap-align: start;
} 

h1, h2{

word-wrap: break-word;
} 

.flex {
    display: flex;
    flex-direction: column;
word-wrap: break-word;
}

.section {
    height: 100vh;
    width: 100vw;
    padding-bottom: 5rem;
    flex-shrink: 0;
    
}

.fullcenter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 
    Letter Effect
*/
span {
    transition: all 250ms ease;
    -webkit-user-select: none;
    display: inline-block;
}

span:hover {
    color: var(--icons-primary);
    transform: scale(1.2)
}


/*
    About page
*/

.profile-header {
    font-size: 40px;
    text-align: center;
}

.profile-description {
    color: var(--icons-primary);
}

/*IMAGES*/

.avatar {
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 500ms ease;

}

.avatar:hover {
    transform: scale(1.05);
}

.gifs {
    transition: all 500ms ease;
    width: 250px; 
    height: 250px;
    max-width: 275px;
    max-height: 275px;

}

.gifs:hover {
    transform: scale(1.05);
}

/*
 SCROLL BAR
*/

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--icons-secondary);
}


/*
    PROJECTS
*/

.projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: auto;
    flex-shrink: 0;
  
}

.projects-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    filter: saturate(0%);
    flex-shrink: 0;
    transition: all 400ms ease;
}
.projects-item img{
    width: 100%;
    max-width: 24vw;
    height: auto;
    flex: 1;
    flex-grow: 1;
}
.projects-item video{
    width: auto;
    max-width: 25vw;
    height: 50rem;
    flex: 1;
}
.projects-item iframe{
    width: 100%;
    max-width: 35vw;
}
.projects-item a{
    color: black;
    text-decoration: none;
    font-weight: lighter;

    flex-shrink: 0;
    
}

.projects-item:hover{
    filter: saturate(100%);
}

/* 
    Specific css for videos
*/

.projects-item .tankyou{
    max-height: 360px;
}

.projects-item .archvr{
    max-height: 360px;

}

/*
    Services
*/

.services{
    flex-shrink: 0;
}


video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }

.arrow-down{
    font-size: 54pt;
    padding: 1rem;
    color: var(--text-primary);
    transition: all 400ms ease;
    cursor: pointer;
}

.arrow-down:hover{
    font-size: 58pt;
    color: var(--icons-primary);
}




/*
    Footer
*/

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}


/* 
    Mobile Responsive
*/

@media only screen and (max-width: 768px) {

    .projects{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section{
        position: relative;

        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .projects-item{
        
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 50%;
        max-height: 50%;
        height: auto;

    }

    .services{
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
        flex-shrink: 0;
    }
    
    .services .projects-item{
        
        flex-shrink: 0;
        font-size: 12pt;
        text-align: center;
    }

    .gifs{
        width: 150px; height: 150px;
    }

    .contact{
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }
}
